#* 任意字符任意数量包括0
#. 就是单纯的字符，没有特殊意义
#？单个字符
#[abc] 中括号代表一个字符，其中一个
#重点是：以上匹配模式，全部不匹配路径，windows或者linux/或者\
#匹配单个路径就/，匹配多个就**

#代表。idea这个目录
.idea
#代表.idea目录下所有子文件
.idea/

*/**/target/
target
logs
*.log
.idea/
target/
*.class
*.jar
*.war
*.ear
*.iml
